@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: #FAF9F6	 ;

}
.quantity::-webkit-outer-spin-button,
.quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.quantity[type=number] {
  -moz-appearance: textfield;
}
h2,button{
  font-family: var(--bubblegumSans);
}
h3{
  
  font-family: var(--tinos);
}
.home-heading{
  @apply md:text-5xl text-3xl font-semibold
}
.home-button{
  @apply px-4 py-1 border-2 w-1/2 border-red-600 bg-red-600 text-white hover:bg-white hover:text-red-600 rounded-lg text-lg md:text-2xl font-semibold
}